// colors
$black: #000000;
$black-2: #202020;
$black-3: #070716;
$black-4: #222222;
$black-5: #080816;
$black-6: #212121;
$blue-1: #1EACC7;
$blue-2: #1CA8C3;
$blue-3: #1FBAD6;
$blue-4: #4CE2FF;
$red: #FF5656;
$grey: #999999;
$white: #ffffff;
$link-hover: rgba(28, 168, 195, 0.8);
$link-active: rgba(28, 168, 195, 0.5);